.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
}

.navContainer button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;

    box-shadow: none;
}

.navContainer button:hover {
    background-color: #0d8bf2;
}

.navContainer button.logout-button {
    background-color: #f44336;
    color: white;
}

.navContainer button.logout-button:hover {
    background-color: #d32f2f;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.App.dark .header {
    background-color: #333;
    border-bottom: 1px solid #555;
}