.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #ccc;
}

.avatarContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.description {
    width: 75%;
    padding-left: 2rem;
}